{% extends "WebAvPlanningBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}

{% endblock %}

{% block path %}
	{{ parent() }}/<a href="#">Accueil</a>/
{% endblock %}

{% block body_content%}
	{% set monmois = mounth[mois] %}
	{{ year }} - {{ monmois }}
{{dump()}}
	<ul class="nav nav-tabs">
		{% set id = 0 %}
		{% for m in mounth %}
			{% for key in mounth|keys %}
    			{% if mounth[key] == m %}
     				{% set id = key %}
    			{% endif %}
			{% endfor %}
 		    <li	{% if monmois == m %} class="active" {% endif %}><a href="{{ path('webav_planningyear',{'year':year,'mois':id}) }}">{{m}}</a></li>
		{%  endfor %}
	</ul>
	<div class="row-fluid">
		{% set cpt = 0 %}
	 	{% for day in days %}
	 		<div class="span1"><center>{{day}}</center></div>
	 	{% endfor %}
	</div>
	<div class="row-fluid">
		{% for d in dates[year][mois+1] %}
			{% if cpt is divisibleby(7) %}		
				</div><div class="row-fluid">
			{% endif %}
			{% if cpt ==0 and datesJ[year][mois+1][d]!=1 %}
				<div class="offset{{datesJ[year][mois+1][d]-1}} span1">
			{% else %}
				<div class="span1 mabox">
			{% endif %}
			<center>{{d}}
			{%set mois = mois+1%}
			{% if mois < 10 %}
				{% if d <10 %}
					{% set date1=year~"-0"~mois~"-0"~d %}
				{% else %}
					{% set date1=year~"-0"~mois~"-"~d %}
				{% endif %}
			{% else %}
				{% if d <10 %}

					{% set date1=year~"-"~mois~"-0"~d %}

				{% else %}
					{% set date1=year~"-"~mois~"-"~d %}

				{% endif %}
			{% endif %}

			{%set mois = mois-1%}
			{% set nb = 0 %}
			{% for key in reserv|keys %}
					{% if key|date('Y-m-d')==date1 %}
						{% set nb = reserv[date1]|length() %}
					{% endif%}
			{% endfor %}
				
					<p>nb :{{nb}}</p></center>
   	 <!-- Button to trigger modal -->
    <a href="#myModal{{date1}}" role="button" class="btn" data-toggle="modal">Afficher</a>

    <div id="myModal{{date1}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{date1}}</h3>
    </div>
    <div class="modal-body">
    {% for key in reserv|keys %}
					{% if key|date('Y-m-d')==date1 %}
						{% for i in reserv[key] %}
							{{i.actdate.date.date|date('h:i:s')}}
							{{i.actdate.activite.nomactivite }}
						{% endfor %}
					{% endif%}
			{% endfor %}

    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>

    </div>
    </div>


					{% if cpt == 0 %}
						{% set cpt = cpt+datesJ[year][mois+1][d] %}
					{% else %}
						{% set cpt = cpt + 1 %}
					{% endif %}
					</div>
				{% endfor %}
			</div>

			

{% endblock %}


